@use 'normalize';
@use 'variables';

html {
  height: 100%;

  &,
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-primary-200);
}
