:root {
    --color-base:#FFFFFF;
    --color-primary-100:#EEEFFF;
    --color-primary-200:#EFF0FF;
    --color-primary-300:rgba(90, 114, 197, 0.50);
    --color-primary-600:#6E9FFF;
    --color-primary-700:#3D57A7;
    --color-primary-800: #0057BD;
    --color-primary-900: #003A8C;

    --spacing-sm:8px;
    --spacing-s:12px;
    --spacing-m:16px;
    --spacing-l:24px;
    --spacing-xl:32px;
    /* --spacing-xl:48px; */

    --border-radius:48px;
    
    --gradient-base:linear-gradient(135deg, var(--color-primary-800) 0%, var(--color-primary-600)80%,var(--color-primary-600) 100%);
    --gradient-dark:linear-gradient(135deg, var(--color-primary-900) 0%, var(--color-primary-700)80%,var(--color-primary-700) 100%);

    --transition:0.2s, ease;
}